<div class="mx-auto max-w-screen-xl rounded-lg bg-our-story bg-cover bg-no-repeat">
  <div class="h-full w-full rounded-lg bg-black/50 px-4 py-32 lg:py-40">
    <div class="mx-auto flex max-w-screen-md flex-col items-center gap-8 text-white">
      <h2 class="text-center text-3xl font-bold">Our Story</h2>
      <p class="text-center text-lg">
        Our journey began with a shared passion for the thrill of the slopes and the beauty of the mountains. our
        commitment to quality, sustainability, and the spirit of adventure has remained unwavering.
      </p>
      <a
        class="block rounded-lg bg-black px-8 py-3 text-center text-lg text-white transition hover:bg-indigo-600 md:inline-block"
        href=""
        >Read Our Story</a
      >
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Our Story",
  "tag": "section",
  "class": "our-story",
  "limit": 1,
  "settings": [

  ]
}
{% endschema %}
