<div>
  <img src="{{ section.settings.image.src | img_url }}" alt="{{ section.settings.image.alt }}">
  <h1></h1>
</div>

{% schema %}
  {
    "name": "Test Hero",
    "tag": "section",
    "class": "test-hero",
    "limit": 1,
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background Image"
      },
      {
        "type": "text",
        "label": "Header Text",
        "id": "header-text",
        "default": "Header Text!"
      }
    ]
  }
{% endschema %}