<div>
  <img src="{{ section.settings.image.src | img_url }}" alt="{{ section.settings.image.alt }}">
</div>

{% schema %}
  {
    "name": "Test Hero",
    "tag": "section",
    "class": "test-hero",
    "limit": 1,
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background Image"
      }
    ]
  }
{% endschema %}